@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --green-clr: #dffe02;
    --gray-clr: #898989;
    --darkblue-clr: #171c22;


    /* RGB colors */
    --green-clrRGB:223, 254, 2;
    --gray-clrRGB: 137, 137, 137;
    --darkblue-clrRGB: 23, 28, 34;
}

.bg-green{
    background-color: var(--green-clr);
}

.bg-dark-blue{
    background-color: var(--darkblue-clr);
}

.text-green{
    color: var(--green-clr);
}

.text-gray{
    color: var(--gray-clr);
}

.darkblue{
    background-color: rgba(var(--darkblue-clrRGB),.85);
}

.darkblue1{
    background-color: rgba(var(--darkblue-clrRGB),1);
}