*{
      font-family: "Libertinus Sans", sans-serif;
}

/* For navbar */

#header .nav-link {
    background-color: transparent;
    position: relative;
}

#header .nav-link:hover{
    color: var(--green-clr) !important;
}

.mybtn{
    border: .1rem solid var(--green-clr) !important;
    padding: .5rem 1.6rem;
}

img{
    width: 3rem;
    border-radius: 50%;
}

.mybtn:hover{
    background-color: transparent;
    color: var(--green-clr) ;
}

/* For Hero Section */

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top:1rem solid white ;
    border-bottom:1rem solid white ;
    background-image: url(./media/profile.png);
    background-position: center;
    background-size: 120%;
    box-shadow: 0 0 1rem white , inset 0 0 1rem white , 0 0 2rem blue, inset 0 0 2rem var(--green-clr), 0 0 6rem var(--green-clr),inset 0 0 2rem var(--green-clr);
}
#hero{
    min-height: 92vh;
}
h1{
    font-size: 4rem;
    font-family: "Merriweather Sans", sans-serif;
    transition: all 0.2s ease-in-out;
}
p{
    font-size: .95rem;
}
.para{
    max-width: 500px;
}
.main-txt{
    font-size: .8rem;
    letter-spacing: .2rem;
}
.section-container{
    padding-block: 4rem;
}

/* About Section */
.id{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-left: 1px;
    font-family: "Dancing Script", cursive;
}
.id::before,
.id::after{
    content: "";
    flex: 1;
    border-bottom: 2px solid white;
    margin: 0 10px;
}
a{
    text-decoration: none;
}

.aboutme{
    width: 35rem;
}
.glow{
    position: relative;
     background-size: 120%;
    background-image: url(./media/about.png);
    background-position: center;
    background-size: 120%;
     width: 30rem;
    aspect-ratio: 1;
    border-radius: 50%;
     border-bottom:1rem solid white ;
}

@media screen and (max-width: 576px){
    h1{
        font-size: 2.5rem;
    }
    .image-container{
        width: 20rem;
        margin-left:1rem;
        box-shadow: none;
    }
    #hero{
        min-height: 75vh;
    }

    .glow{
        width: 20rem;
        margin-left:1rem;
    }
    .glow::before{
    content: "";
    background: var(--green-clr);
    position: absolute;
    inset: 3rem;
    border-radius: 50%;
    z-index: -1;
    filter: blur(40px);
     background-size: 120%;
}
.id{
    display: none;
}
}