*{
      font-family: "Libertinus Sans", sans-serif;
}

/* For navbar */

.mybtn{
    border: .1rem solid var(--green-clr) !important;
    padding: .5rem 1.6rem;
}

img{
    width: 3rem;
    border-radius: 50%;
}

.mybtn:hover{
    background-color: transparent;
    color: var(--green-clr) ;
}
.offcanvas{
    width: 100% !important;
    height: 100% !important;
}
