*{
      font-family: "Libertinus Sans", sans-serif;
}

/* For navbar */
#header{
    background-color: black;
}
#header .nav-link {
    background-color: transparent;
    position: relative;
}

#header .nav-link:hover{
    color: var(--green-clr) !important;
}

.mybtn{
    border: .1rem solid var(--green-clr) !important;
    padding: .5rem 1.6rem;
   
}

.img-profile{
    width: 3rem;
    border-radius: 50%;
}

.mybtn:hover{
    background-color: transparent;
    box-shadow: 0 0 10px green;
     color: var(--green-clr);
}

/* For Hero Section */

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    margin-bottom: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top:1rem solid white ;
    border-bottom:1rem solid white ;
    background-image: url(./media/profile.png);
    background-position: center;
    background-size: 120%;
    transition: all 2s ease;
    box-shadow: 0 0 1rem white , inset 0 0 1rem white , 0 0 2rem blue, inset 0 0 2rem var(--green-clr), 0 0 6rem var(--green-clr),inset 0 0 2rem var(--green-clr);
}
.image-container:hover{
    transform: translateX(-10px);
}
h1{
    font-size: 4rem;
    font-family: "Merriweather Sans", sans-serif;
}
h1:hover{
    text-shadow: 2px 2px 2px var(--green-clr);
    transition: all 1s ease;
}
p{
    font-size: .95rem;
}
.para{
    max-width: 500px;
}
.main-txt{
    font-size: .8rem;
    letter-spacing: .2rem;
}
.section-container{
    padding-block: 3rem;
}
#hero{
    height: 100vh;
}

/* About Section */
#about{
    background-color: rgba(var(--darkblueRGB), 1) !important;
}
.id{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

a{
    text-decoration: none;
}

.aboutme{
   border-radius: 50%;
}
.aboutme:hover{
    background-color: white;
}

.nav-tabs .nav-item button{
    background-color: transparent;
    color: rgb(234, 228, 228);
    border: none;
}
.nav-tabs .nav-item button:hover{
    color: var(--green-clr);
    box-shadow: 0 0 1rem var(--green-clr);
}
.nav-tabs{
    border-bottom: none;
    margin-top: 2rem;
}
.image{
    border-radius: 50%;
    box-shadow: 0 0 .5rem white;
    transition: all 2s ease;
}
.image:hover{
    box-shadow: 0 0 .7rem green;
    transform: translateX(10px);
}


/* Services Section */
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.service-card{
    transition: all 1s ease;
}
.service-card:hover{
    transform: translateY(-15px) scale(1);
    box-shadow: 0 0 2rem var(--green-clr);
    background-color: var(--green-clr);
}
.service-card:hover *{
    color: black !important;
}



/* portofolio section */
.my-card{
    width: 21rem;
    transition: transform .5s ease;
}
.my-card:hover{
    transform: scale(1.1);
}

/* Blog */
.blog-card{
    width: 24rem;
    transition: all .5s ease;
}
.blog-card:hover{
    box-shadow: 0 0 1rem var(--green-clr);
}
.card-img-top{
    transition: transform .5s ease;
}
.card-img-top:hover{
    transform:translateY(-15px) scale(1.1);
}

/* Contact Section */
.contact{
    box-shadow: 0 0 .5rem var(--green-clr);
    transition: all 1s ease;
}
.contact:hover{
    box-shadow: 0 0 2rem white;
    transform: translateY(15px) scale(1);
}


/* footer */
.line{
    background: rgb(63, 63, 63);
    height: .1rem;
    width: 100%;
}
.socials:hover{
    color: var(--green-clr);
}

@media screen and (max-width: 576px){
    h1{
        font-size: 2.5rem;
    }
    .image-container{
        width: 20rem;
        margin-left:1rem;
        box-shadow: none;
    }
    #hero{
        min-height: 75vh;
    }

    .glow{
        width: 20rem;
        margin-left:1rem;
        margin-bottom: 20px;
    }
   
    .id{
        border-bottom: none;
        margin: none;
    }
    .nav-tabs{
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }
    h3{
        font-size: small;
        margin: 0;
    }
}

